@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Ubuntu:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid darkgrey;
}

h2 {
    margin-bottom: 5px;
}

a {
    color:brown;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

.container {
    max-width: 1080px;
    margin: auto;
}

#content { 
    float: left;
    width: 60%;
    padding: 0 0 0 30px; 
}

#sidebar { 
    float: right;
    width: 30%;
    padding: 10px;
    background-color: darkgrey; 
    height: 100%;
}

.date {
    font-size: 14px;
    font-style: italic;
    color:dimgray;
    margin-top: 5px;
}