@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Roboto+Mono:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

a {
    color: #000;
    position: relative;
    background-image: linear-gradient(180deg,#fff06b,#fff06b);
    background-repeat: no-repeat;
    background-position: 4px bottom;
    background-size: 100% 10px;
    text-decoration: none;
}

a:hover {
    background-image: linear-gradient(180deg,#fff06b,#fff06b);
    background-size: 100% 20px;
    transition: 0.2s;
}

p {
    font-family: 'Open Sans', sans-serif;;
}

code {
    color: rgb(255, 0, 0);
    font-family: 'Roboto Mono', monospace;
}

img {
    width: 100%;
}

.title_area {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid darkgrey;
}

.blog_title {
    margin: 0;
    font-size: 40px;
}

.post_title {
    margin-bottom: 5px;
}

.subtitle {
    margin: 0;
    font-style: italic;
}

.container {
    max-width: 1080px;
    margin: auto;
    overflow: auto;
}

#content { 
    float: left;
    width: 60%;
    padding: 0 0 0 30px; 
}

#sidebar { 
    float: right;
    width: 30%;
    padding: 10px;
    background-color: rgb(207, 207, 207); 
    height: 100%;
}

.post_date, .comment_info {
    font-size: 14px;
    font-style: italic;
    color:dimgray;
    margin-top: 5px;
}

.post_body {
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 1px solid darkgrey;
}

.post_tags {
    font-size: 14px;
    font-style: italic;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination_current {
    margin: 0 10px 0 10px;
}

.similar_post_item {
    margin: 5px;
}

.comments_count {
    color: black;
    margin-bottom: 5px;
    font-style: italic;
}

.comment_info {
    padding-bottom: 5px;
    border-bottom: 1px solid darkgrey;
}

.comment_username {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.comment {
    padding: 5px;
}

.comment_body {
    margin: 0;
}

.add_comment_container {
    margin-top: 30px;
    margin-bottom: 30px;
}

label {
    display: block;
}

#id_name {
    border: 1px solid #000;
    width: 300px
}

#id_email {
    border: 1px solid #000;
    width: 300px
}

#id_body {
    border: 1px solid #000;
    width: 100%;
}

.comment_button_container {
    display: flex;
    justify-content: right;
}

.comment_input {
    font-size: 18px;
    color: #000;
    padding: 10px 50px;
    background-color: #fff06b;
    border: 1px solid #000;
    border-radius: 10px;
}

.comment_input:hover {
    cursor: pointer;
    box-shadow: 8px 8px 0px 1px #000;
    transition: 0.2s;
}