@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Ubuntu:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid darkgrey;
}

h2 {
    margin-bottom: 5px;
}

a {
    color:brown;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    max-width: 1080px;
    margin: auto;
}

#content { 
    float: left;
    width: 60%;
    padding: 0 0 0 30px; 
}

#sidebar { 
    float: right;
    width: 30%;
    padding: 10px;
    background-color: darkgrey; 
    height: 100%;
}

.post_date, .comment_info {
    font-size: 14px;
    font-style: italic;
    color:dimgray;
    margin-top: 5px;
}

.post_body {
    font-size: 18px;
    border-bottom: 1px solid darkgrey;
}

.post_tags {
    font-size: 14px;
    font-style: italic;
}

.comment {
    border-bottom: 1px solid darkgrey;
    padding: 0px 10px 0px 10px;
}

.comment_body {
    padding-bottom: 0;
}

.comments_count {
    color: black;
}

.comment_input {
    font-size: 18px;
    color: white;
    padding: 10px 50px;
    background-color: brown;
    border: none;
}

.comment_input:hover {
    cursor: pointer;
    background-color: darkgrey;
    transition: 0.2s;
}